<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, ' + ${name} + '! Your ID is ' + ${userId} " />

	<form th:action="@{/vote}">
		<input type="text" name="topic" th:value="${topic}" /> <input
			type="hidden" name="userId" th:value="${userId}" />
		<button id="agree" name="isAgree" value="1">赞</button>
		<button id="disagree" name="isAgree" value="0">踩</button>
	</form>
	<p th:text=" ${voteMsg} " />

	<a href="/">返回</a>
</body>
</html>